<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Crepenificos</title>
  {{> appCartCSS2}}
  {{> appCartJSHead2}}
</head>
<body>

    {{{body}}}

    {{> appCartJSBottom2}}
</body>
</html>
