<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Crepenificos</title>
  {{> appDisplayCSS2}}
  {{> appDisplayJSHead2}}
</head>
<body>

    {{{body}}}

    {{> appDisplayJSBottom2}}
</body>
</html>
