<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Crepenificos</title>
  {{> appDisplayCSS}}
  {{> appDisplayJSHead}}
</head>
<body>

    {{{body}}}

    {{> appDisplayJSBottom}}
</body>
</html>
