<div class="header">

  <div style="position: absolute; width: 160px; height: 160px; right: 20px; top: 0px;">
  {{#if scanQrCode}}
  <video id="preview" width="160" height="160"></video>
  <script type="text/javascript">
  let scanner = new Instascan.Scanner({ video: document.getElementById('preview'), backgroundScan: true, refractoryPeriod: 2000, });
    scanner.addListener('scan', function (content) {
      console.log(content);
      add(content);
    });
    Instascan.Camera.getCameras().then(function (cameras) {
      if (cameras.length > 0) {
        scanner.start(cameras[0]);
      } else {
        console.error('No cameras found.');
      }
    }).catch(function (e) {
      console.error(e);
    });
  </script>
  {{/if}}
  </div>

  <h1>Crepeníficos</h1>
  <p>"Um crepe magnífico!"</p>
  <p>― Um empreendimento da Equipe Makerníficos</p>

  <button id="ASong" style="display:none">
    <audio src="sounds/add.wav" autoplay></audio>
    <audio src="sounds/error.wav" autoplay></audio>
    <audio src="sounds/cashRegister.wav" autoplay></audio>
    <audio src="sounds/trash.wav" autoplay></audio>
    <audio src="sounds/backOrder.wav" autoplay></audio>
    Sounds
  </button>

  <button id="btnCancelOrder" class="ui-button ui-widget ui-corner-all ui-button-icon-only" title="Cancelar um Pedido" style="position: absolute; left: 20px; top: 10px;">
   <span class="ui-icon ui-icon-trash"></span> Cancelar um Pedido
  </button>

</div>


<div class="cart-container">
  <div class="empty" style="display:none">
    Que fome! Vamos ao pedido?
  </div>
  <ul class="cart">
  </ul>
</div>

<table class="bill">
  <tr class="total">
    <td class="label">Total :</td>
    <td class="value">R$ 0.00</td>
  </tr>
</table>

<div class="actions">
  <div class="big-button go">Concluir o Pedido</div>
</div>

<div style="display:none" id="div-dialog-warning">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span> Opss, ocorreu um erro!<div/></p>
</div>

<div style="display:none" id="div-dialog-success">

    <div class="success-animation">
    <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" /><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" /></svg>
    </div>

</div>


<div style="display:none" id="dialog-payback" title="Troco">
    <table class="bill">
      <tr class="total">
        <td class="label">Total:</td>
        <td class="value">R$ 0.00</td>
      </tr>
      <tr class="amountReceived">
        <td class="label">Recebido:</td>
        <td class="value">R$ <input type="text" name="valorRecebido" id="amountReceivedByClient" value="" class="text ui-widget-content ui-corner-all" style="width:100px;">
        </td>
      </tr>
      <tr class="amountPayback">
        <td class="label">Troco:</td>
        <td class="value">R$ <span class="paybackValue"></span></td>
      </tr>
    </table>
    <div style="text-align:center;"><button type="button" class="ui-button ui-widget ui-corner-all processOrder" style="background-color: green; color:#FFF; padding:20px; margin-top:20px;">Finalizar</button></div>
</div>
