<div class="header">
  <h1>Crepeníficos</h1>
</div>

<div class='ordersblc'>NA FILA - SERÃO OS PRÓXIMOS</div>
<div class="orders-container-queue">
  <div class="emptyQueue" style="display:none">
    Nenhum na fila! Quer ser o primeiro ? :)
  </div>
  <ul class="orders" id="inqueue">
  </ul>
</div>

<div class='ordersblc'>EM PRODUÇÃO - QUASE PRONTOS!</div>
<div class="orders-container-progress">
  <div class="emptyProgress" style="display:none">
    Vamos comer um Crepe?
  </div>
  <ul class="orders" id="inprogress">
  </ul>
</div>

<div class='ordersblc'>CONCLUÍDOS - PODE RETIRAR!</div>
<div class="orders-container-delivery">
  <div class="emptyDelivery" style="display:none">
    Já está saindo mais Crepes deliciosos! Uhhhmmmmm!
  </div>
  <ul class="orders" id="indelivery">
  </ul>
</div>
