<div class="header">

  <h1>Crepeníficos</h1>

  <button id="updateTableUnUsedQueue" class="ui-button ui-widget ui-corner-all"  style="position: absolute; left: 20px; top: 15px;">Atualizar Tudo</button>
</div>

<div class="allOrders-container">
<table id="allOrders" class="display" style="width:100%">
        <thead>
            <tr>
                <th>-</th>
                <th>Senha</th>
                <th>Pedido</th>
                <th>Status</th>
                <th>Dt. Pedido</th>
            </tr>
        </thead>
        <tbody id="allOrdersUnUsedQueue">


        </tbody>
        <tfoot>
            <tr>
              <th>-</th>
              <th>Senha</th>
              <th>Pedido</th>
              <th>Status</th>
              <th>Dt. Pedido</th>
            </tr>
        </tfoot>
    </table>
</div>
